.menu {
  list-style: none;
}

.menu_categories {
}

.menu_categories_item {
  & + .menu_categories_item {
    margin-top: 20px;
  }
}

.menu_categories_label {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $gray-300;
  font-weight: $font-weight-light;
  padding: 10px 20px;
}

.menu_components {}

.menu_components_item {
  & + .menu_components_item {
    margin-top: 10px;
  }
}

.menu_components_label {
  display: block;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
}


.menu_stories {}

.menu_stories_item {}

.menu_stories_link {
  display: block;
  padding: 10px 40px 10px 40px;
  font-size: 14px;
}
