<aside class="sidebar">
    <h1 class="sidebar_brand">Atomic <span class="sidebar_brand--em">Design</span></h1>

    {% include '@AtomicDesign/molecules/menu.html.twig' with {
        props: {
            menu: props.menu
        }
    } %}
</aside>
