{% extends '@AtomicDesign/layout.html.twig' %}

{% block body %}
<div class="container-fluid component">
    {% include '@AtomicDesign/molecules/render.html.twig' with {
        props: {
            embed: path('_atomic_design_embed', { component: component.name, story: story }),
        }
    } %}
</div>
{% endblock %}
