<div class="card" style="width: 18rem;">
    {% if props.image is defined %}
        <img src="{{ props.image.src }}" class="card-img-top" alt="{{ props.image.alt }}">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ props.title }}</h5>
        <p class="card-text">{{ props.text }}</p>
    </div>
</div>
