name: Tests

env:
  PHPUNIT_FLAGS: "-v"
  SYMFONY_PHPUNIT_DIR: "$HOME/symfony-bridge/.phpunit"

on:
  push: ~
  release:
    types: [ created ]
  schedule:
    -   cron: "0 1 * * 6" # Run at 1am every Saturday

jobs:
  test:
    runs-on: ubuntu-latest

    name: "PHP ${{ matrix.php }}${{ matrix.symfony != '' && format(', Symfony {0}', matrix.symfony) || '' }}"
    strategy:
      fail-fast: false
      matrix:
        php: [ 7.4, 8.0 ]
        symfony: [ 4.4.*, 5.2.*, 5.3.* ]

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          coverage: none

      - name: Restrict Symfony version
        if: matrix.symfony != ''
        run: |
          composer global require --no-progress --no-scripts --no-plugins "symfony/flex:^1.10"
          composer config extra.symfony.require "${{ matrix.symfony }}"

      - name: Validate composer.json
        run: composer validate --strict --no-check-lock

      - name: Install dependencies
        run: composer update

      - name: Run PHPSpec
        run: bin/phpspec run --no-interaction -f dot

      - name: Install and build testing app
        run: |
          cd tests/app
          composer update
          yarn install
          yarn build
          cd ../../

      - name: Run PHPUnit
        run: bin/simple-phpunit -v
